{% extends 'base.html.twig' %}

{% block css %}
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon/favicon.ico') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ asset('assets/vendor/js/helpers.js') }}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('assets/js/config.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="content-wrapper">


        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="d-flex align-items-center mt-4">
                <h4 class="fw-bold py-3 mb-4">Eliminations</h4>
                <!-- Button trigger modal -->
            </div>
            <div class="accordion mt-3" >
                {% for groupe in groupes %}
                    <div class="card accordion-item">
                        <h5 class="accordion-header" id="heading{{ loop.index }}">
                            <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordion{{ loop.index }}"
                                    aria-expanded="false"
                                    aria-controls="accordion{{ loop.index }}"
                            >
                               Abcences : {{ groupe.Nom }}
                            </button>
                        </h5>
                        <div
                                id="accordion{{ loop.index }}"
                                class="accordion-collapse collapse"
                                aria-labelledby="heading{{ loop.index }}"
                        >
                            <div class="accordion-body">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
                                            <div class="d-flex flex-row">
                                                <div class="px-3">
                                                    <h5>Elimine : <span class="badge bg-label-danger"> </span> </h5>
                                                </div>
                                                <div class="px-3">
                                                    <h5>Non Elimine : <span class="badge bg-label-success"> </span> </h5>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="{{ path('download_absence', {'groupId': groupe.id}) }}" class="btn btn-primary">
                                                    <span class="tf-icons bx bx-download rmt1"></span> Telecharger excel
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive text-nowrap" style="min-height: 170px">
                                            <table class="table table-hover">
                                                <thead class="table-light">
                                                <tr>
                                                    <th>Nom & Prénom</th>
                                                    {% for matiere in groupe.matieres %}
                                                        <th class="text-center">{{ matiere.Nom }}</th>
                                                    {% endfor %}

                                                </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0">
                                                {% for etudiant in groupe.etudiants %}
                                                    <tr>
                                                        <td>{{ etudiant.NomFr }} {{ etudiant.PrenomFr }}</td>
                                                        {% for matiere in groupe.matieres %}
                                                            {% set abs=0 %}
                                                            {% for absence in etudiant.Absence %}
                                                                {% if absence.matiere.Nom == matiere.Nom and absence.present == false %}
                                                                    {% set abs=abs+1 %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% if abs > 4 %}
                                                                <td class="text-center">
                                                                    <span class="badge bg-label-danger">{{ abs }}</span>
                                                                </td>
                                                            {% else %}
                                                                <td class="text-center">
                                                                    <span class="badge bg-label-success">{{ abs }}</span>
                                                                </td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun etudiant trouvé</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                {% else %}
                    <tr>
                        <h1 colspan="3">Aucun groupe trouvé</h1>
                    </tr>
                    <!--/ Hoverable Table rows -->

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ asset('assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ asset('assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{{ asset('assets/js/main.js') }}"></script>

    <!-- Page JS -->
    <script src="{{ asset('assets/js/ui-modals.js') }}"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}

